{
  "extends": [
    "react-app",
    "react-app/jest",
    "plugin:prettier/recommended",
    "prettier",
    "plugin:cypress/recommended"
  ],
  "rules": {
    "prettier/prettier": [
      "error",
      {
        "endOfLine": "auto"
      }
    ]
  },
  "env": {
    "browser": true,
    "node": true,
    "es6": true
  },
  "parser": "@babel/eslint-parser"
}
